/* 
  CSS Reset
  http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variables */

:root {
	/* Colors */
	--color-primary: #7f5af0;
	--color-green: #2cb67d;
	--color-white: #eff0f3;
	--color-red: #d9376e;
	--color-light-grey: rgba(114, 117, 126, 0.2);
	--color-black: #010101;

	/* Fonts */
	--font-default: "IBM Plex Mono", monospace;

	--width-default: 33.6rem;
}

html,
body {
	font-size: 50%; /* 1rem = 8px */
}

body {
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	width: 100vw;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;

	font-family: var(--font-default);
	background-color: var(--color-white);
}

header {
	width: var(--width-default);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

header svg {
	height: 3rem;
	margin-right: auto;
	/* width: calc(var(--width-default) / 1.5); */
}

header nav {
	/* width: var(--width-default); */
	/* margin-top: 2.4rem; */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

header nav button,
header nav a {
	height: 4.8rem;
	width: 4.8rem;
}

header nav button {
	margin-right: 1.6rem;
}

header nav button svg,
header nav a svg {
	height: 4.8rem;
	width: 4.8rem;
}

footer {
	width: var(--width-default);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

footer button svg {
	height: 6.4rem;
	width: 6.4rem;
}

button,
a {
	background: transparent;
	border: none;
	padding: 0;
	margin: 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-family: var(--font-default);
}

button:hover,
a:hover {
	opacity: 0.8;
	cursor: pointer;
}

button:active,
a:active {
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
}

main {
	width: -webkit-min-content;
	width: -moz-min-content;
	width: min-content;
	-ms-grid-column-align: center;
	justify-self: center;
	min-height: 30rem;
}

table {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

table caption {
	margin-bottom: 2.4rem;
	font-size: 2.4rem !important;
}

table#game-table * {
	font-size: 2.4rem;
	letter-spacing: 0;
	font-weight: bold;
}

tr {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

tr td {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border: 0.1rem solid var(--color-light-grey);
	width: 4rem;
	height: 4rem;
	text-align: center;
	border-collapse: collapse;
	color: var(--color-white);
}

tr td.game-cell.empty.danger {
	background-color: var(--color-red);
}
tr td.game-cell.empty {
	background-color: var(--color-white);
}
tr td.game-cell.number {
	background-color: var(--color-primary);
}
tr td.game-cell.comparison {
	background-color: var(--color-green);
}

p#game-over {
	margin-top: 3.2rem;
	text-align: center;
	color: var(--color-primary);
	font-weight: bold;
	font-size: 3.2rem;
}

/* Modal */

.modal {
	position: absolute;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	width: 100vw;

	z-index: 100;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: rgba(1, 1, 1, 0.5);
}

.modal__container {
	background-color: var(--color-white);
	text-align: center;
	width: 100vw;
	max-width: 768px;
	padding: 3.2rem 0;
}

.modal__container h2 {
	color: var(--color-primary);
	text-transform: uppercase;
	font-size: 2.4rem;
}

.modal__container button {
	background-color: var(--color-primary);
	padding: 0.8rem 1.6rem;
	color: var(--color-white);
	text-transform: uppercase;
	font-size: 2.4rem;
}

.modal__container p {
	margin: 3.2rem 0;
	font-size: 1.8rem;
}

.modal--ranking ol {
	list-style: inside;
	list-style-type: decimal;
	font-size: 1.6rem;
	margin: 1.6rem;
}

.modal--ranking h3 {
	font-size: 1.6rem;
	margin: 1.6rem;
}

@media (min-width: 375px) {
	html,
	body {
		font-size: 62.5%; /* 1rem = 10px */
	}
}

@media (min-width: 2560px) {
	html,
	body {
		font-size: 100%;
	}
}

@media (min-width: 3840px) {
	html,
	body {
		font-size: 162.5%;
	}
}
